{% extends 'base.html.twig' %}

{% block title %}{{ title }}'s Classes{% endblock %}

{% block body %}

<h2>{{ title }}'s Classes</h2>

<div>

    <p>
        Add New Class
    </p>

{{form_start(form)}}
{{form_widget(form)}}
{{form_end(form)}}

</div>

<h3> </h3>

<ul>
    
</ul>

{% endblock %}